@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

#servicios {
    background-color: white;
}

#quien {
    background-color: rgb(209, 209, 209);
}

#contacto {
    background-color: white;
}

footer {
    background-color: rgb(209, 209, 209);
}

/** Botón para ir arriba **/
.ir-arriba {
    display: none;
    background-repeat: no-repeat;
    font-size: 20px;
    color: black;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}